@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*! minireset.css v0.0.6 | MIT License */ html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

@font-face {
  font-family: 'impactregular';
  src: url('unicode.impact-webfont.woff2') format('woff2'),
       url('unicode.impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {

  /* body font size */
  --text-base-size: 1em;
  
/* type scale */
  --text-scale-ratio: 1.5;
  --text-xs: calc(var(--text-base-size)  / var(--text-scale-ratio) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  /* colors */

  --RAC-brand-pink: #DD3782;
  --RAC-brand-red: #ED1C24;
  --RAC-brand-black: #000000;
  --RAC-brand-seagreen: #77E8CA;
  --RAC-brand-green: #70AF18;
  --RAC-brand-yellow: #FFCB05;

  --RAC-gray900: #141414;
  --RAC-gray800: #333333;
  --RAC-gray200: #929292;
  --RAC-gray100: #CFCFCF;
  --white:#FFFFFF;

      /* Color intentions */
      --primary: var(--RAC-brand-pink);
      --danger: var(--RAC-brand-red);
      --background: var(--RAC-gray100);
      --textColor: var(--RAC-gray900);
      --buttonTextColor: var(--RAC-brand-black);
      --lineColor: var(---RAC-gray200);
      --cardBg: var(--white);

    /* Type */
    --bodyFont: "Open Sans", sans-serif;

    --baseFontSize: 100%;
    --smallText: var(--text-sm);
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: 'Enriqueta';


    /* Spacing scale */
    --space-unit:  1em;
    --space-xxxxs: calc(0.125 * var(--space-unit)); 
    --space-xxxs:  calc(0.25 * var(--space-unit));
    --space-xxs:   calc(0.375 * var(--space-unit));
    --space-xs:    calc(0.5 * var(--space-unit));
    --space-sm:    calc(0.75 * var(--space-unit));
    --space-md:    calc(1.25 * var(--space-unit));
    --space-lg:    calc(2 * var(--space-unit));
    --space-xl:    calc(3.25 * var(--space-unit));
    --space-xxl:   calc(5.25 * var(--space-unit));

    --none: 0px;
    --xx-small: 2px;
    --x-small: 4px;
    --small: 8px;
    --regular: 16px;
    --large: 32px;
    --x-large: 64px;
    --xx-large: 128px;
}

html {
  font-size: var(--baseFontSize);
  background-color: var(--RAC-gray100);
  font-family: 'Open Sans', sans-serif;

}

body {
  padding:5rem 0;
}

/* Structure */

main {
  width:80vw;
  margin: 0 auto;
}

.ds-container {
  display:grid;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows:min-content;
  grid-gap:2rem;
}

.component-group {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:1rem;
}

.design-patterns-group {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows:min-content;
  grid-gap:1rem;
}


.left-sidebar {
  grid-column: 1 / 2;
}

.main-content {
  grid-column: 2 / 4;
}

.right-sidebar {
  grid-column: 3 / 4;
}

.section {
  background:#ffffff;
  box-shadow: 3px 3px 2px 1px rgba(111, 111, 111, .2);
  border-radius: 10px;
  padding:2rem;
  margin-bottom:2rem;
}

.cg-1 {
  grid-column: 1 / 2;
}

.cg-2 {
  grid-column: 2 / 3;
}

.cg-3 {
  grid-column: 3 / 4;
}


a {
  text-decoration: none;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'impactregular',sans-serif;
  line-height:1;
}

/* text styles*/
h1 {
  font-size : 40px;
  line-height: 54px;
  letter-spacing : 0.05em;
}
h2 {
  font-size : 32px;
  line-height: 44px;
  letter-spacing : 0.05em;
}
h3 {
  font-size : 28px;
  line-height: 38px;
  letter-spacing : 0.05em;
}
h4 {
  font-size : 24px;
  line-height: 32px;
  letter-spacing : 0.05em;
}
h5 {
  font-size : 20px;
  line-height: 28px;
  letter-spacing : 0.05em;
}

h6 {
  font-size : 16px;
  line-height: 22px;
  letter-spacing : 0.05em;
}

.sub-heading {
  font-family : var(--secondary-font);
  font-size : 16px;
  line-height: 24px;
  letter-spacing : 0em;
  font-weight:500;
  color:#000000;
}
.body-text {
  font-family : var(--primary-font);
  font-size : 14px;
  line-height: 24px;
  letter-spacing : 0.05em;
  color:#000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-caption {
  font-family : var(--secondary-font);
  font-size : 12px;
  line-height: auto;
  letter-spacing : 0.05em;
  text-transform: uppercase;
  color:#929292;
}
.pull-quote {
  font-family : var(--secondary-font);
  font-size : 18px;
  line-height: 24px;
  letter-spacing : 0em;
}

p, li {
  font-family : var(--primary-font);
  font-size : 14px;
  line-height: 24px;

}

.section-label {
  font-family : var(--primary-font);
  text-transform: uppercase;
  font-weight:600;
}

.section-break {
  text-transform: uppercase;
  font-weight:700;
  margin-top:3rem;
}

.text-white {
  color:#fff;
}

.title {
  font-style: italic;
}

.square1 {
  background-color:#F3B6D2;
  margin: 10px;
  opacity: 50%;
}

/* Color samples */


  .color-brand-pink {
    background-color: var(--RAC-brand-pink);
  }
  .color-brand-red {
    background-color: var(--RAC-brand-red);
  }
  .color-brand-black {
    background-color: var(--RAC-brand-black);
  }
  .color-brand-seagreen {
    background-color: var(--RAC-brand-seagreen);
  }
  .color-brand-green {
    background-color: var(--RAC-brand-green);
  }
  .color-brand-yellow {
    background-color: var(--RAC-brand-yellow);
  }

  .color-gray900 {
    background-color: var(--RAC-gray900);
  }

  .color-gray800 {
    background-color: var(--RAC-gray800);
  }

  .color-gray200 {
    background-color: var(--RAC-gray200);
  }


  .color-gray100 {
    background-color: var(--RAC-gray100);
  }




.primary-hue {
  display: flex;
  border-radius: 10px;
  padding:1rem;
  color:#ffffff;
  font-size: 14px;
  font-family: var(--primary-font);
}

.primary-hue > div {
  width:33%;
}

.secondary-hue {
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  color:#ffffff;
  font-size: 14px;
  font-family: var(--primary-font);
}

.secondary-hue > div {
  width:33%;
}

.neutral-hue {
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  color:#ffffff;
  font-size: 14px;
  font-family: var(--primary-font);
}

.neutral-hue > div {
  width:33%;
}

.accent-hue {
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  color:#ffffff;
  font-size: 14px;
  font-family: var(--primary-font);
}

.accent-hue > div {
  width:33%;
}

.text-dark {
  color:var(--text-color);
}

.img {
  width:100%;
}


.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
}

.col-2 {
  width: 16.67%;
}

.col-8 {
  width: 66.66%;
}

.row > div{
  position:relative;
}

.row::after {
content: "";
display: table;
clear: both;
}

.navPanel {
  background-color:#FFFFFF;
  box-shadow: 3px 3px 2px 1px rgba(111, 111, 111, .2);
  border-radius: 10px;
  border-color: #CFCFCF;
  border-style: solid;
  border-width: 0.1px;
  padding: 5px;
  margin: 20px auto 0 auto;
}

/* LOGO */
.logo {
  padding: 5px 10px;
}

/* DESKTOP/TABLET NAVIGATION */
.float_center {
  float: right;
  position: relative;
  left: -50%; 
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear:both;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display:block;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
}

li a:hover {
  color: var(--RAC-brand-pink);
  text-decoration: none;
}

button {
  display: block;
  width: 95%;
  height: 90%;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #FFFFFF;
  color: #DD3782;
  border: 0.5px solid #DD3782;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

button:hover{
  background-color: #DD3782;
  color: #FFFFFF;
}

/* MOBILE NAVIGATION */
.mobileNavigation {
position: relative;
right:100%;
width:50%;
height:100%;
z-index:1;
background-color: #FFFFFF;
}

.mobileNavigation ul {
display: none;
}

.mobileNavigation ul li {
margin-bottom: 10px;
padding: 5px 10px;
}

.mobileMenuButton {
display: block;
color: #000000;
font-size: 18px;
padding: 5px 10px;
}

.mobileExit {
position: relative;
color: #000000;
font-size: 18px;
display:none;
padding: 5px 10px;
}

.mobileMenuButton:hover, .mobileExit:hover {
color: #DD3782;
}

.button1 {
  width: 16.67%;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #DD3782;
  border: 0.5px solid #DD3782;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.button1:hover{
  background-color: #F3B6D2;
  border: 0.5px solid #F3B6D2;
  color: #000000;
}

.button2 {
  width: 16.67%;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #FFCB05;
  border: 0.5px solid #FFCB05;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.button2:hover{
  background-color: #7F6503;
  border: 0.5px solid #7F6503;
  color: #FFFFFF;
}

.button3 {
  width: 16.67%;
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #CFCFCF;
  border: 0.5px solid #CFCFCF;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.button3:hover{
  background-color: #CFCFCF;
  border: 0.5px solid #CFCFCF;
  color: #000000;
  cursor: default;
}

.label1 {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 16px;
  color: #929292;
}

.text1{
  display: block;
  padding: 5px;
  border: 0.5px solid #CFCFCF;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 20px;
}

.card{
  width: 50%; 
  background-color: #FFFFFF; 
  box-shadow: 3px 3px 2px 1px rgba(111, 111, 111, .2); 
  border-radius: 10px; 
  border: 0.5px solid #CFCFCF;
  padding: 5px 10px;
}

.pic1{
  width: 94%;
  border: 0.5px solid #CFCFCF;
  border-radius: 10px; 
  margin: 20px 10px 10px;
}
